version: '3.3'

services:
  db:
    image: postgres:14
    container_name: foodgram-db
    restart: always
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ../backend
    container_name: foodgram-backend
    restart: always
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ../backend:/app
      - ../data:/app/data
      - static_volume:/backend_static
      - media_volume:/app/media
    ports:
      - "8000:8000"

  frontend:
    build: ../frontend
    container_name: foodgram-frontend
    volumes:
      - ../frontend:/app/result_build/

  proxy:
    image: nginx:1.25.4-alpine
    container_name: foodgram-proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../frontend/build:/usr/share/nginx/html/
      - ../docs/:/usr/share/nginx/html/api/docs/
      - static_volume:/staticfiles/
      - media_volume:/app/media/
    depends_on:
      - backend

volumes:
  postgres_data:
  static_volume:
  media_volume:
